.authorCard {
	& {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		@apply --secondaryFontStyle;
	}

	&__img {
		margin-right: 16px;

		a {
			position: relative;
			display: block;
			@util size(48px);
			border: 0;
			border-radius: 100%;
			overflow: hidden;
		}

		img {
			@util center;
		}
	}

	&__body {
		flex: 1 1 0%;

		h4 {
			margin-bottom: 6px;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				border-color: var(--additionalColor);

				@media (--hover) {
					&:hover {
						border-color: transparent;
					}
				}

				&:focus {
					border-color: transparent;
				}
			}
		}

		p {
			margin: 0 0 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&_large {
		& {
			@media (--tablet) {
				display: block;
			}
		}

		.authorCard {
			&__img {
				& {
					@media (--tablet) {
						margin: 0 0 24px;
					}
				}

				a {
					@media (--tablet) {
						& {
							@util size(200px);
						}
					}
				}
			}
		}
	}

	.book & {
		margin-bottom: 40px;

		max-width: 272px;

		@media (--tablet) {
			margin-bottom: 32px;
		}

		@media (--desktop) {
			margin-bottom: 0;
		}
	}
}
