.conferenceLineUp {
	& {
		margin-bottom: 48px;

		&:last-child {
			margin-bottom: 0;
		}

		@media (--tablet) {
			margin-bottom: 80px;
		}
	}

	h2 {
		margin: 48px 0 48px;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		@media (--tablet) {
			margin: 80px 0 56px;
		}
	}

	.row {
		margin: -24px -12px 0;

		@media (--tablet) {
			margin: -40px -21.5px 0;
		}
	}

	.col {
		margin-top: 24px;

		padding: 0 12px;

		@media (--tablet) {
			margin-top: 40px;

			padding: 0 21.5px;
		}
	}
}
