.filter {
	&__inner {
		margin: -8px -4px 16px;

		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: flex-start;

		@media (--tablet) {
			margin-bottom: 12px;
		}

		@media (--desktop) {
			margin-bottom: 0;
		}
	}

	&__item {
		margin-top: 8px;

		padding: 0 4px;

		&:first-child {
			@media (--desktop) {
				margin-right: auto;
			}
		}
	}
}
