.footerNav {
	& {
		font-size: 15px;
		line-height: 18px;
		font-weight: var(--medium);

		@media (--desktop) {
			font-size: 14px;
			line-height: 22px;
			font-weight: var(--normal);
		}
	}

	&__list {
		& {
			margin: -13px 0;

			@media (--tablet) {
				margin: -8px -17px;

				display: flex;
				flex-wrap: wrap;
				align-items: center;
			}
		}
	}

	&__item,
	&__separator {
		padding-left: 0;

		&:before {
			display: none;
		}
	}

	&__item {
		a,
		span {
			display: block;
			padding: 13px 0;
			border: 0;

			@media (--tablet) {
				padding: 8px 17px;
			}

			@media (--desktop) {
				padding: 8px 14px;
			}
		}
	}

	&__separator {
		& {
			display: none;
			padding: 0 10px;

			@media (--desktop) {
				display: block;
			}
		}

		span {
			display: block;
			@util size(4px);
			border-radius: 100%;
			background-color: var(--primaryColor);
		}
	}
}
