.footer {
	font-size: 12px;
	line-height: 24px;

	&__inner {
		padding: 40px 0 28px;
		border-top: 1px solid var(--additionalColor);

		@media (--tablet) {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
		}
	}

	&__aside {
		& {
			margin-bottom: 16px;

			color: var(--secondColor);

			@media (--tablet) {
				margin: 0 56px 0 0;
			}

			@media (--desktop) {
				margin-right: 70px;

				padding-top: 5px;
			}
		}

		a,
		img {
			display: inline-block;
			vertical-align: top;
		}

		a {
			@util size(140px, 41px);
			border: 0;

			path {
				transition: color var(--defaultTransitionDuration);
			}

			@media (--hover) {
				&:hover {
					path {
						transition: none;

						&.logo-text {
							color: var(--secondColor);
						}
					}
				}
			}

			&:focus {
				path {
					transition: none;

					&.logo-text {
						color: var(--secondColor);
					}
				}
			}
		}
	}

	&__body {
		@media (--tablet) {
			flex: 1 1 0%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			padding-top: 11px;
		}

		@media (--desktop) {
			padding-top: 0;
		}
	}

	&__nav {
		margin-bottom: 27px;

		@media (--tablet) {
			margin-bottom: 24px;

			width: 100%;
		}

		@media (--desktop) {
			margin-bottom: 12px;

			width: auto;
		}
	}

	&__socialNetworks {
		margin-bottom: 20px;

		@media (--tablet) {
			margin-bottom: 12px;
		}
	}

	&__btnBox {
		margin-bottom: 20px;

		.button {
			width: 100%;
		}

		@media (--tablet) {
			margin-bottom: 12px;

			width: 190px;
		}
	}

	&__copyright {
		opacity: 0.5;

		@media (--tablet) {
			width: 100%;
		}
	}

	&_light {
		color: #ffffff;

		.footer {
			&__aside {
				color: #ffffff;

				a {
					@media (--hover) {
						&:hover {
							.logo-text {
								color: #ffffff;
							}
						}
					}

					&:focus {
						.logo-text {
							color: #ffffff;
						}
					}
				}
			}

			&__btnBox {
				:--button {
					&.button {
						border-color: rgba(#ffffff, 50%);

						color: #ffffff;

						@media (--hover) {
							&:hover {
								border-color: #ffffff;
								background-color: #ffffff;

								color: var(--accentColor);

								transition: none;
							}
						}

						&:focus {
							border-color: #ffffff;
							background-color: #ffffff;

							color: var(--accentColor);

							transition: none;
						}
					}
				}
			}
		}
	}
}
