.header {
	& {
		@util position(absolute, 0 0 auto 0);
		z-index: 2;

		@apply --mediumFontStyle;
	}

	&__inner {
		margin: 0 calc(var(--global-gap-small) * (-1));

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 20px 0 12px;

		@media (--tablet) {
			margin: 0;

			padding: 44px 0 18px;
		}
	}

	&__logo {
		& {
			margin: 0 auto;

			color: var(--secondColor);

			@media (--tablet) {
				order: -1;
				margin: 0 40px 0 0;
			}

			@media (--desktop) {
				margin-right: 65px;
			}
		}

		a,
		img {
			display: inline-block;
			vertical-align: top;
		}

		a {
			@util size(140px, 41px);
			border: 0;

			transition: none;

			path {
				transition: color var(--defaultTransitionDuration);
			}

			@media (--hover) {
				&:hover {
					path {
						transition: none;
					}
				}
			}

			&:focus {
				path {
					transition: none;
				}
			}
		}
	}

	&__menuToggler {
		a,
		button {
			display: inline-flex;
			vertical-align: top;
			align-items: center;
			justify-content: center;
			border: 0;
			@util size(64px, 50px);

			&.is-active {
				i {
					font-size: 14px;

					&:before {
						@apply --i-cross;
					}
				}
			}

			@media (--tablet) {
				width: auto;
			}
		}

		i {
			font-size: 11px;
			line-height: 1;

			&:before {
				@apply --i-menu;
				vertical-align: top;
			}

			@media (--tablet) {
				margin-right: 16px;
			}
		}

		span {
			display: none;

			@media (--tablet) {
				display: block;
			}
		}

		@media (--desktop) {
			display: none;
		}
	}

	&__searchToggler {
		a,
		button {
			display: inline-flex;
			vertical-align: top;
			align-items: center;
			justify-content: center;
			border: 0;
			@util size(64px, 50px);

			&.is-active {
				i {
					font-size: 14px;

					&:before {
						@apply --i-cross;
					}
				}
			}
		}

		i {
			font-size: 16px;
			line-height: 1;

			&:before {
				@apply --i-loupe;
				vertical-align: top;
			}
		}

		@media (--tablet) {
			margin: 0 16px 0 auto;
		}
	}

	&__btnBox {
		display: none;

		.button {
			width: 100%;
		}

		@media (--tablet) {
			display: block;
			width: 190px;
		}
	}

	&__nav {
	}

	&_light {
		& {
			color: #ffffff;
		}

		.header {
			&__logo {
				color: #ffffff;
			}

			&__btnBox {
				:--button {
					&.button {
						border-color: rgba(#ffffff, 50%);

						color: #ffffff;

						@media (--hover) {
							&:hover {
								border-color: #ffffff;
								background-color: #ffffff;

								color: var(--accentColor);

								transition: none;
							}
						}

						&:focus {
							border-color: #ffffff;
							background-color: #ffffff;

							color: var(--accentColor);

							transition: none;
						}
					}
				}
			}
		}
	}

	&.has-open-menu {
		.header {
			&__inner {
				&:before {
					content: '';

					@util position(absolute, 0);
					z-index: 1;

					display: block;
					background-color: var(--primaryColor);

					@media (--desktop) {
						display: none;
					}
				}
			}

			&__logo,
			&__menuToggler,
			&__searchToggler,
			&__btnBox {
				position: relative;
				z-index: 2;

				color: #ffffff;

				@media (--desktop) {
					position: static;
					z-index: auto;

					color: inherit;
				}
			}

			&__btnBox {
				:--button {
					&.button {
						border-color: rgba(#ffffff, 50%);

						color: #ffffff;

						@media (--hover) {
							&:hover {
								border-color: #ffffff;
								background-color: #ffffff;

								color: var(--accentColor);

								transition: none;
							}
						}

						&:focus {
							border-color: #ffffff;
							background-color: #ffffff;

							color: var(--accentColor);

							transition: none;
						}
					}
				}
			}
		}
	}
}
