.header {
	& {
		@util position(absolute, 0 0 auto 0);
		z-index: 2;

		@apply --mediumFontStyle;
	}

	&__inner {
		margin: 0 calc(var(--global-gap-small) * (-1));

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0 12px;

		@media (--tablet) {
			margin: 0;

			justify-content: flex-start;

			padding: 44px 0 18px;
		}
	}

	&__logo {
		a,
		img {
			display: inline-block;
			vertical-align: top;
		}

		a {
			border: 0;
		}

		@media (--tablet) {
			order: -1;
			margin-right: 40px;
		}
	}

	&__menuToggler {
		a,
		button {
			display: inline-flex;
			vertical-align: top;
			align-items: center;
			justify-content: center;
			border: 0;
			@util size(64px, 50px);

			&.is-active {
				i {
					font-size: 14px;

					&:before {
						@apply --i-cross;
					}
				}
			}

			@media (--tablet) {
				width: auto;
			}
		}

		i {
			font-size: 11px;
			line-height: 1;

			&:before {
				@apply --i-menu;
				vertical-align: top;
			}

			@media (--tablet) {
				margin-right: 16px;
			}
		}

		span {
			display: none;

			@media (--tablet) {
				display: block;
			}
		}

		@media (--desktop) {
			display: none;
		}
	}

	&__search {
		a,
		button {
			display: inline-flex;
			vertical-align: top;
			align-items: center;
			justify-content: center;
			border: 0;
			@util size(64px, 50px);
		}

		i {
			font-size: 16px;
			line-height: 1;

			&:before {
				vertical-align: top;
			}
		}

		@media (--tablet) {
			margin: 0 16px 0 auto;
		}
	}

	&__btnBox {
		display: none;

		@media (--tablet) {
			display: block;
		}
	}

	&__nav {
		& {
			display: none;

			@media (--desktop) {
				display: block;
			}
		}

		nav {
			margin: 0 -14px;

			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-start;
		}

		a,
		span {
			display: inline-block;
			border: 0;
			padding: 8px 14px;

			font-weight: var(--medium);
		}

		li.is-active a,
		span {
			position: relative;
			cursor: default;

			color: var(--accentColor);

			&:after {
				@util position(absolute, 0 auto auto 14px);
				transform: translateY(-100%);

				@apply --i-ribbon;
				font-size: 50px;
			}
		}

		ul {
			margin: 0 14px 0 0;
			position: relative;

			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-start;

			padding-right: 14px;

			&:after {
				content: '';

				@util position(absolute, 50% 0 auto auto);
				transform: translate(0, -50%);

				display: block;
				@util size(4px);
				border-radius: 100%;
				background-color: currentColor;
			}

			&:last-child {
				margin: 0;

				padding-right: 0;

				&:after {
					display: none;
				}
			}
		}

		li {
			padding: 0;

			&:before {
				display: none;
			}
		}
	}

	&_light {
		& {
			color: #ffffff;
		}

		.header {
			&__inner {
				position: relative;
				z-index: 1;
			}

			&__btnBox {
				:--button {
					&.button {
						border-color: rgba(#ffffff, 50%);

						color: #ffffff;

						@media (--hover) {
							&:hover {
								border-color: #ffffff;
								background-color: #ffffff;

								color: var(--accentColor);

								transition: none;
							}
						}

						&:focus {
							border-color: #ffffff;
							background-color: #ffffff;

							color: var(--accentColor);

							transition: none;
						}
					}
				}
			}
		}

		&:before {
			content: '';

			@util position(absolute, 0);

			opacity: 0.5;
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.8) 0%,
				rgba(0, 0, 0, 0) 100%
			);
		}
	}
}
