.mediaCard {
	& {
		@apply --secondaryFontStyle;
	}

	h3,
	p {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	h3 {
		margin: 16px 0;
	}

	p {
		margin: 8px 0;
	}

	&__image {
		& {
			margin-bottom: 32px;

			position: relative;
			border-radius: 4px;
			overflow: hidden;
			background-color: var(--additionalColor);

			text-align: center;
		}

		&:before {
			content: '';

			@util aspect-ratio(272:156);

			@media (--tablet) {
				@util aspect-ratio(218:156);
			}
		}

		/* uncss:ignore */
		iframe,
		a {
			@util center;
			@util size(100%);
		}

		/* uncss:ignore */ iframe {
			display: block;
		}
	}

	&__link {
		& {
			display: block;
			border: 0;
			cursor: pointer;
		}

		&:after {
			@util center;
			z-index: 1;

			@apply --i-play;
			font-size: 42px;

			display: flex;
			align-items: center;
			justify-content: center;
			@util size(100%);
			background-color: rgba(255, 255, 255, 0.5);

			transition: background-color var(--defaultTransitionDuration);
		}

		&:focus {
			&:after {
				background-color: transparent;

				transition: none;
			}
		}

		&:hover {
			&:after {
				@media (--hover) {
					background-color: transparent;

					transition: none;
				}
			}
		}

		img {
			@util size(100%);
			object-fit: cover;
		}
	}
}
