.page {
	& {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		min-height: calc(var(--vh, 1vh) * 100);
	}

	&_dark {
		background-color: var(--secondColor);

		color: #ffffff;

		:--inline {
			border-bottom-color: var(--accentColor);
		}

		:--button {
			&.button {
				border-color: rgba(#ffffff, 50%);

				color: #ffffff;

				@media (--hover) {
					&:hover {
						border-color: #ffffff;
						background-color: #ffffff;

						color: var(--accentColor);

						transition: none;
					}
				}

				&:focus {
					border-color: #ffffff;
					background-color: #ffffff;

					color: var(--accentColor);

					transition: none;
				}
			}
		}
	}
}
