.pagination {
	& {
		font-size: 13px;
		line-height: 24px;
	}

	a,
	button,
	span {
		display: inline-block;
		border: 0;
		padding: 16px 0;

		font-weight: var(--semibold);
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	&__inner {
		margin: 0 calc(var(--global-gap-small) * (-1)) -16px;

		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		padding: 0 var(--global-gap-small);
		border-top: 1px solid var(--additionalColor);

		@media (--tablet) {
			margin: 0;

			justify-content: space-between;
			padding: 0;
		}
	}

	nav {
		margin-bottom: 8px;

		@media (--tablet) {
			margin-bottom: 0;
		}
	}

	ul {
		margin: 0;

		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	li {
		padding: 0 4px;

		&:first-child,
		&:last-child {
			font-size: 15px;
		}

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&:before {
			display: none;
		}

		a,
		button,
		span {
			min-width: 40px;

			font-weight: var(--medium);
		}

		&.is-active a,
		&.is-active button,
		span {
			position: relative;

			color: var(--accentColor);

			&:before {
				content: '';

				@util position(absolute, -1px 0 auto);

				display: block;
				height: 1px;
				background-color: var(--accentColor);
			}
		}
	}
}
