.preview {
	& {
		@apply --secondaryFontStyle;
	}

	h6,
	p {
		margin: 0;
	}

	h6 {
		font-size: 14px;
		line-height: 22px;
		font-weight: var(--medium);
	}

	a {
		position: relative;

		display: block;
		width: 100%;
		max-width: 282px;
		border: 0;
		padding-left: 30px;

		color: inherit;

		&:before {
			@util position(absolute, 2px auto auto 0);

			@apply --i-type-article;
			font-size: 18px;
			text-align: center;

			display: block;
			@util size(18px);
			background-color: transparent;
		}
	}

	&_book {
		a {
			&:before {
				@apply --i-type-book;
			}
		}
	}

	&_video {
		a {
			&:before {
				@apply --i-type-video;
			}
		}
	}
}
