.sectionAccent {
	& {
		margin: 40px 0;

		padding: 40px 0 48px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-color: var(--paleColor);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: calc(var(--content-bottom-gap-small) * (-1));
		}

		@media (--tablet) {
			margin: 80px 0;

			padding: 56px 0 80px;
			border-bottom-left-radius: 64px;

			&:last-child {
				margin-bottom: calc(var(--content-bottom-gap-medium) * (-1));

				border-bottom-left-radius: 0;
			}
		}

		@media (--desktop) {
			border-bottom-left-radius: 120px;

			&:last-child {
				border-bottom-left-radius: 120px;
			}
		}
	}

	&_dark {
		color: #ffffff;
	}

	.sliderBanner + & {
		margin-top: 0;
	}

	.filterContainer + & {
		margin-top: 0;
	}

	.pageHead + & {
		margin-top: 0;
	}

	.conferenceHead + & {
		margin-top: 0;
	}
}
