.sectionError {
	h1,
	p {
		margin: 12px 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	h1 {
		font-size: 120px;
		line-height: 122px;
	}

	footer {
		& {
			margin-top: 32px;
		}

		a {
			position: relative;
			display: inline-block;
			border-bottom-color: var(--accentColor);

			font-weight: var(--medium);

			&:after {
				content: '→';

				@util position(absolute, auto -8px auto auto);
				transform: translate(100%, 0);
			}
		}
	}

	&__inner {
		max-width: 540px;
		padding: 24px 0;

		@media (--tablet) {
			padding: 56px 0;
		}
	}
}
