.sliderDefault {
	& {
		margin: 40px 0 22px;
		position: relative;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		@media (--tablet) {
			margin: 56px 0 46px;
		}
	}

	.swiper-container {
		overflow: visible;
	}
}
