.sliderDefault {
	& {
		margin-bottom: 22px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		@media (--tablet) {
			margin-bottom: 46px;
		}
	}

	.swiper-container {
		overflow: visible;
	}
}
