.sliderBanner {
	& {
		position: relative;
	}

	.swiper-footer {
		@util position(absolute, auto 0 22px);
		z-index: 1;

		display: block;

		@media (--tablet) {
			bottom: 120px;
		}
	}

	.swiper-pagination-bullet {
		&:before {
			background-color: #ffffff;
		}
	}

	.swiper-pagination-bullet-active {
		&:before {
			background-color: transparent;
		}
	}
}
