.socialNetworks {
	&__list {
		margin: 0;

		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		border-radius: calc(36px / 2);
		background-color: var(--paleColor);
	}

	&__item {
		padding: 0;

		&:before {
			display: none;
		}

		a,
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			@util size(36px);
			border: 0;
			border-radius: 100%;
			background-color: var(--paleColor);

			.i-vk {
				font-size: 9px;
				color: #4c75a3;
			}

			.i-fb {
				font-size: 15px;
				color: #3b5998;
			}

			.i-yt {
				font-size: 11px;
				color: #ff0000;
			}

			.i-tw {
				font-size: 13px;
				color: #55acee;
			}

			i {
				display: inline-block;
				vertical-align: top;

				line-height: 1;

				transition: color var(--defaultTransitionDuration);
			}

			@media (--hover) {
				&:hover {
					i {
						color: var(--accentColor);

						transition: none;
					}
				}
			}

			&:focus {
				i {
					color: var(--accentColor);

					transition: none;
				}
			}
		}
	}

	&_dark {
		.socialNetworks {
			&__list {
				background-color: transparent;
			}

			&__item {
				padding: 0 5px;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}

				a,
				button {
					i {
						color: var(--primaryColor);
					}

					@media (--hover) {
						&:hover {
							background-color: var(--accentColor);

							i {
								color: #ffffff;
							}
						}
					}

					&:focus {
						background-color: var(--accentColor);

						i {
							color: #ffffff;
						}
					}
				}
			}
		}
	}

	.author & {
		margin-top: 24px;
	}
}
