.tags {
	& {
		margin-bottom: 8px;

		font-size: 9px;
		line-height: 16px;
		font-weight: var(--medium);
		letter-spacing: 1px;
		text-transform: uppercase;

		&:last-child {
			margin-bottom: 0;
		}

		@media (--tablet) {
			margin-bottom: 16px;
		}
	}

	a {
		display: block;
		border: 0;
		border-radius: 4px;
		padding: 0 4px;
		background-color: var(--paleColor);

		color: var(--primaryColor);
	}

	&__list {
		margin: -4px -2px 0;

		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	&__item {
		margin-top: 4px;

		padding: 0 2px;

		&:before {
			display: none;
		}
	}

	&_light {
		.tags {
			&__item {
				a {
					border-radius: 4px;
					background-color: #ffffff;
				}
			}
		}
	}

	.authorCard & {
		margin-bottom: 24px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.book & {
		margin-bottom: 8px;

		@media (--tablet) {
			margin-bottom: 20px;
		}
	}
}
